<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/css/index.css">
	<title>杨靖文的个人网站</title>
</head>
<body>
	<div class="top">
		<div class="button"><a href="http://youngjingwen.github.io">T</a></div>
	</div>
		<div class="banner clearfix">
		<h1>Hello,I'm youngjingwen!</h1>
		<p>打算写很久很久的代码</p>
	</div>

	<div class="container clearfix">
		<!-- <div class="contain clearfix">
			<a href="http://newming.github.io/100" class="contain-image"><img src="images/contain1.jpg" alt="百日百页面"></a>
			<a href="http://newming.github.io/100"><p class="title">百日百页面</p></a>
			<p class="date">2015.11.25</p>
		</div>
		<div class="contain clearfix">
			<a href="http://newming.github.io/myweb" class="contain-image"><img src="images/contain2.jpg" alt="网页设计大赛"></a>
			<a href="http://newming.github.io/myweb"><p class="title">网页设计大赛</p></a>
			<p class="date">2015.11.1</p>
		</div>
		<div class="contain">
			<a href="#" class="contain-image"><img src="images/contain-none.jpg" alt="暂无"></a>
			<a href="#"><p class="title">敬请期待</p></a>
			<p class="date">2026.2.11</p>
		</div> -->
		<!-- header defaults -->

		{{ content }}
	</div>


		<div class="footer"><h3>欢迎大家来和我交流！</h3></div>
	<!-- footer defaults -->
</body>
</html>
